<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wish List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  {{!-- Date time picker accessed on the resgistry page --}}
  <script>
    $(function () {
      $("#datepicker").datepicker();
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.js"></script>
  

</head>

{{!-- Old Nav --}}
{{!--   <nav>
    <a id="logo" href="/">
      <img src="/images/Wish List Logo-01 (1).png" alt="">
    </a>
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <button class="btn">Home</button></a>
      </li>
      {{#if loggedIn}}
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          <button class="btn">Dashboard</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="logout-link" href="#">
          <button class="btn">Logout</button>
        </a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/login">
          <button class="btn">Login</button>
        </a>
      </li>
      {{/if}}
    </ul>
  </nav> --}}


  <header>
    <nav class="navbar">
      <a class="navbar-brand"id="logo" href="/">
        <img src="/images/Wish List Logo-01 (1).png" alt="">
      </a>

    <button class="navbar-toggler toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">☰</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        {{#if loggedIn}}
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="logout-link" href="#">
            <button>Logout</button>
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>

<br> <br> <br>

<main>
  <canvas id="canvas-basic"></canvas>

  <div class="body-all">
    {{{body}}}
  </div>
</main>





<script src="/javascript/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>