<div class="container">
    <div class="row d-flex justify-content-center">
        <h1 class=" mb-5 text-center">Error 404: Page not found</h1>
        <img class="mt-5" id="four-oh-four-image"src="/images/Wish List Logo-01 (1).png" width="700px"alt="">
    </div>
</div>
