<section class="container-fluid">
    <ul>
        {{#each registries as |registry| }}
        <li class="card">
            <a href="/registry/{{registry.id}}">{{registry.name}}</a>
            <p>
                {{registry.user_id}}
            </p>
        </li>
        {{/each}}
    </ul>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <button id="create-registry" class="create-registry btn">Create New Registry +</button>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <hr class="w-100">
        </div>
    </div>

    <script src="/javascript/dashboard.js"></script>
    
    

</section>