

<div class="container custom-welcome">
    <div class="row d-flex justify-content-center">
        <h1 class="header-text text-center text-shadow">Your Registries</h1>
    </div>
</div>

<br>

<div class="row d-flex justify-content-center">
  <hr class="w-75">
</div> 

<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <button id="create-registry" class="create-registry btn">Create New Registry +</button>
    </div>
</div>

<br> <br>



<div class="container">
    <ul>
        {{#each registries as |registry| }}
        <li class="flex-row p-5">
            <div class="card">
                <div class="card-header text-center">
                    <h4>
                        <a href="/registry/{{registry.id}}">{{registry.name}}</a>
                    </h4>
                </div>
                <div class="card-body text-center">
                    <br>
                    <p>{{registry.description}}</p>
                    <br>
                </div>
                <div class="card-footer text-center">
                    <br>
                    <p>{{registry.date}}</p>
                    <br>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>

                

        



    <script src="/javascript/dashboard.js"></script>



</section>