

<div class="container">
  <div class="row d-flex justify-content-center">
    <h2 class="header-text text-center text-shadow">User Registries</h2>
    <hr class="w-100">
  </div>
</div>


{{#each registries as |registry| }}
<div class="container home-reg">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <a href="/registry/{{registry.id}}">{{registry.name}}</a>
        </div>
        <div class="card-body text-center">
          {{registry.description}}
        </div>
        <div class="card-footer text-center">
          {{!--{{getDate registry.date}} --}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
