{{!-- login card --}}
<div class="container mt-5 login-card">
    <div class="card border-0 transparent-background shadow">
        <div class="card-header border-0 transparent-background">
            <h3 class="text-center header-text text-shadow">Login</h3>
        </div>
        <div class="card-body">
            <form class="login-form">
                <label for="username-login" class="label">Username</label>
                <br>
                <input type="text" class="w-100 entry-field rounded text-input" id="username-login" />
                <br>
                <br>
                <label for="password-login" class="label">Password</label>
                <input type="password" class="w-100 entry-field rounded text-input" id="password-login" />
                <br>
                <br>
            </form>
        </div>
        <div class="card-footer d-flex justify-content-center border-0 transparent-background">
            <br>
            <button type="submit" class="w-25 btn" id="login-btn">
                Log in
            </button>
            <br>
        </div>
    </div>
</div>

{{!-- Sign up instead button --}}


<div class="container mt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6 d-flex justify-content-center">
            <a type="button" data-toggle="modal" data-target="#signupModal">
                <button class="btn">Sign Up Instead</button>
            </a>
        </div>
    </div>
</div>


{{!-- Sign up Modal --}} {{!-- Pops up after button is pressed --}}

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog shadow" role="document">
        <div class="modal-content secondary-background border-0">
            <div class="modal-header border-0">
                <h3 class="modal-title header-text text-shadow">Create an Account</h3>
                <button type="button" class="btn" data-dismiss="modal">
                    X
                </button>
            </div>


            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="signup-form">
                                <p class="label">First name</p>
                                <input type="name" class="w-100 rounded text-input" id="firstname-signup">
                                <label for="firstname-signup"></label>
                                <p class="label">Last name</p>
                                <input type="name" class="w-100 rounded text-input" id="lastname-signup">
                                <label for="lastname-signup"></label>
                                <p class="label">Username</p>
                                <input type="name" class="w-100 rounded text-input" id="username-signup">
                                <label for="username-signup"></label>
                                <p class="label">Password</p>
                                <input type="password" class="w-100 rounded text-input" id="password-signup">
                                <button class="w-100 mt-4 mb-2 btn btn-lg rounded-3 border-0" id="signup-btn">Sign
                                    up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>