

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-9">
            <div class="card d-flex justify-content-center">
                <div class="card-header">
                    <h2 class="text-center">{{registry.name}}</h2>
                    <p class="text-center">{{registry.description}}</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li class="text-center">
                            <button class="btn-primary w-25 mt-3 rounded">Add Product</button>
                            <button class="btn-primary w-25 mt-3 rounded">Edit Registry</button>
                            <button class="btn-primary w-25 mt-3 rounded">Delete Registry</button>
                        </li>
                        <li>
                            {{#if hasProducts}}
                            {{#each registry.products as |product|}}
                            {{> product}}
                            {{/each}}
                        </li>
                        <li> 
                            {{else}}
                            <br><br>
                            <p class="text-center">Add products to your registry!</p>
                        </li>
                            {{/if}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- its okay will, I got you ;) -Anthony  --}}




