<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center header-text">New Registry</h4>
                </div>
                <div class="card-body">
                    <form class="new-reg">
                        <label for="reg-name" class="label">Name your registry</label>
                        <br>
                        <input type="text" class="w-100 entry-field rounded text-input" id="reg-name" />
                        <br><br>
                        <label for="reg-desc" class="label">Describe your registry</label>
                        <br>
                        <textarea class="form-control " aria-label="With textarea" id="desc"></textarea>
                        <br>
                        <label for="date">Registry expiration</label>
                        <br>
                        <p>Date: <input type="text" id="datepicker"></p>
                        <div class="card-footer d-flex justify-content-center">
                            <button id="create-registry-btn" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/registry.js"></script>