<a class="p-3"href="/dashboard">Back to Dashboard</a>

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>New Registry</h4>
                </div>
                <div class="card-body">
                    <form class="new-reg">
                        <label for="reg-name">Name your registry</label>
                        <br>
                        <input type="text" class="w-100 entry-field" id="reg-name" />
                        <br><br>
                        <h4>drop down to select event</h4>
                        <br><br>
                        <h4>drop down for event date</h4>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>