<a class="p-3"href="/dashboard">Back to Dashboard</a>

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>New Registry</h4>
                </div>
                <div class="card-body">
                    <form class="new-reg">
                        <label for="reg-name">Name your registry</label>
                        <br>
                        <input type="text" class="w-100 entry-field" id="reg-name" />
                        <br><br>
                        <label for="date">Registry expiration</label>
                        <br>
                        <p>Date: <input type="text" id="datepicker"></p>
                        <br>
                        <button id="create-registry-btn"class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascript/registry.js"></script>