* {
    font-size: 100%;
    margin: 0%;
    padding: 0%;
    list-style: none;
}

a {
    font-weight: 300;
    color: rgb(135, 135, 135);
}

.navbar-nav {
    font-size: 26px;
    margin-left: auto;
}

.logo {
    margin-right: auto;
}

.nav-link {
    margin: 30px;
}

.nav-item button {  
    text-decoration: none;
    background-color: none;
    border: none;
    background: transparent;
}

.create-registry {
    font-size: 20px;
}

.create-registry:hover {
    color: rgb(171, 146, 2);
    transition: .5s;
}

#login-btn, #signup-btn {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
  }
  
#login-btn:hover {
    color: white;
    width:;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
  }

#signup-btn:hover {
    color: white;
    width:;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
  }

@media screen and (max-width: 992px) {
 
  }