:root {
  --primary-color: #d3dcb7;
  --secondary-color: #aec6a5;
  --tertiary-color: #7f6a62;
  --transparent: #00000000;
}

body {
  height: 100vh;
  /* font-family: Helvetica, Arial, sans-serif; */
  background-image: linear-gradient(var(--secondary-color), var(--primary-color))
}

.header-text {
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 32px;
  color: var(--primary-color);
}

.label {
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--tertiary-color)
}

.transparent-background {
  background-color: var(--transparent);
}

.primary-background {
  background-color: var(--primary-color);
}

.primary-foreground {
  color: var(--primary-color);
}

.secondary-background {
  background-color: var(--secondary-color);
}

.secondary-foreground {
  color: var(--secondary-color);
}

.tertiary-background {
  background-color: var(--tertiary-color);
}

.tertiary-foreground {
  color: var(--tertiary-color);
}

.btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: bold;
  padding-bottom: 7px;
}

.btn:hover {
  background-color: var(--tertiary-color);
  color: var(--primary-color)
}

.card-top {
  background-image: linear-gradient(var(--secondary-color), var(--primary-color))
}


.card-bottom {
  background-image: linear-gradient(to top, var(--secondary-color), var(--primary-color))
}

.text-input {
  border: 2px solid var(--tertiary-color);
}

.text-shadow {
  text-shadow: 3px 3px var(--tertiary-color);
}

.hr {
  border: none;
  width: 50%;
  margin-left: 50%;
  transform: translate(-50%, 0);
  height: 4px;
  background-color: var(--primary-color);
}